# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
.venv/
venv/
env/

# Editors / OS
.vscode/
.idea/
*.swp
.DS_Store

# Logs / coverage / pytest
*.log
.coverage
htmlcov/
.pytest_cache/

# Django
db.sqlite3
*.sqlite3
/media/
staticfiles/
# Keep migrations tracked (recommended). If you really want to ignore, uncomment:
# */migrations/*.py
# !*/migrations/__init__.py

# Environment files
.env
.env.*
